/* Police d'écriture : Alice Regular */
@font-face {
    font-family: 'aliceregular';
    src: url('polices/Alice-Regular-webfont.eot');
    src: url('polices/Alice-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/Alice-Regular-webfont.woff') format('woff'),
         url('polices/Alice-Regular-webfont.ttf') format('truetype'),
         url('polices/Alice-Regular-webfont.svg#aliceregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	margin-top:5px;
	background-color:#EEEEEE;
	font-family: 'aliceregular', Arial, sans-serif;
}

.container{
	background-color:#FFF;
}

#barre-navigation{
	margin-right:0px;
	border-bottom :1px solid grey;
	margin-bottom:5px;
}


/***************************************************************************************
 * Attention à ne pas oublier le deuxième container contenu dans la barre de navigation.
 * Il faut bien lui mettre une largeur auto sinon il dépassera du premier container.
 * *************************************************************************************/

#container-barre-navigation{
	width:auto;
}

.icon-bar{
	 background-color:#4C76FF;
}

.navbar-toggle {
  padding: 10px;
  margin: 20px 0 20px 0;
}


.navbar-brand {
  padding: 0px;
  height: 74px;
}

.navbar-brand>img {
  padding: 10px 0 10px 0; /*Haut-Droite-Bas-Gauche*/
  width: auto;
}

.nav >li >a {
  margin-top: 15px;
  margin-left: 5px;
}

#barre-navigation .bouton-connexion:hover {
	background-color:#286090;
}

#barre-navigation .bouton-activite:hover{
	background-color:#286090;
}

#barre-navigation li ul li a:hover {
	background-color:transparent;
}

#banniere-image{
	background: url('../jsp/assets/images/fond_ecran_leasure_compagnon_1.jpg') no-repeat;
	border-radius :5px;
	height:500px;
	opacity:0.8;
	position: relative;
	box-shadow: 0px 4px 4px #1c1a19;
}

#zone-recherche{
	position: absolute;
	bottom:45%;
	width: 54%;
	left : 23%;
}

#zone-recherche #recherche-avancee a{
	color:inherit;
}


/* Positionne la liste des suggestions au-dessous de la zone de saisie */
#suggestions {
	visibility:hidden;
    position: absolute;
    border: 1px solid black;  
}


/* Modifie la couleur de la suggestion survolée par la souris */
.suggestion:hover {
    background-color: #C1C1C1;
    cursor: pointer;
}

/********************************Media query pour le header******************************/
@media all and (min-width: 992px) and (max-width: 1200px){
	#zone-recherche{
		width: 58%;
		left : 21%;
	}
}

@media all and (max-width: 992px){
	#zone-recherche{
		width: 72%;
		left : 14%;
	}
}

@media all and (max-width: 480px){
	.resultat-recherche-hide{
		display :none;
	}
}

/*****************************************************************************************/

section {
	margin-top: 10px;
	margin-bottom: 5px;
	border-bottom :1px solid grey;
}

.accueil-ville {
	margin-bottom: 10px;
}

.accueil-nom-ville{
	font-size : 2em;
}

.accueil-description-ville{
	height:220px;
	overflow:auto;
	font-size : 1.2em;
}

/********************************Media query pour la page d'accueil************************/
@media all and (min-width: 992px) and (max-width: 1200px) {
		.accueil-description-ville{
		font-size : 1.1em;	
	}
}

@media all and (min-width: 768px) and (max-width: 992px){
	.accueil-description-ville{
		height:140px;
		font-size : 0.9em;	
	}
}

@media all and (min-width: 575px)and (max-width: 768px){
	.accueil-description-ville{
		height:90px;
		font-size : 0.8em;
	}
}

@media all and (min-width: 480px) and (max-width: 575px){
	.accueil-nom-ville{
	font-size : 1.5em;
	}
	.accueil-description-ville{
		height:75px;
		font-size : 0.8em;
	}
}

@media all and (max-width: 480px){
	.accueil-nom-ville{
	font-size : 1em;
	font-weight :bold
	}
	.accueil-description-ville{
		height:60px;
		font-size : 0.8em;
	}
}
/*****************************************************************************************/

#row-connexion,#row-creation-compte, #row-form-contact, #row-activites-ville, #row-activite, #row-localisation-activite, #row-infos-pratiques-activite, #row-ajout-avis, 
#row-resultat-recherche-ville, #row-resultat-recherche-activite, #row-ajout-activite, #row-type-activite-moderation, #row-provenance-photo-moderation {
	margin-left:0px;
	margin-right:0px;
}

#div-connexion, #div-form-contact, #div-ajout-avis, #div-ajout-activite {
	border:1px solid grey;
	margin-top:15px;
	margin-bottom:10px;
	padding-bottom:10px;
	box-shadow: 0px 4px 4px #1c1a19;
}

#nav-profil-utilisateur ul{
	margin-top:25px;
	list-style-type:none;
	display:flex;
	border-bottom: 1px solid grey;
	padding-left:0px;
}

#nav-profil-utilisateur li{
	margin-right:30px;
}

#nav-profil-utilisateur a{
	font-size: 1.5em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

#nav-profil-utilisateur a:hover{
	color: #181818;
    border-bottom: 4px solid #181818;
}

#form-utilisateur-coord, #form-utilisateur-mdp, #form-utilisateur-param {
	margin-bottom:10px;
}

#mes-coordonnees, #mon-mot-de-passe, #mes-parametres, #mes-activites-avis {
	border-bottom: 4px solid #181818;
}

.photo-profil-utilisateur{
	border-radius:60px;
}

#pseudo-utilisateur{
	font-size: 1.5em;
}

#image-activites, #image-avis {
	border :1px solid grey;
	box-shadow: 0px 4px 4px #1c1a19;
}

#div-activites,#div-avis {
	margin-bottom : 10px;
}

#activites-avis-utilisateur, #visu-form-contact-utilisateur, #titre-type-activite, #titre-description-activite, #localisation-activite, #infos-pratiques-activite, #avis-activite,
#titre-resultat-recherche-ville, #titre-resultat-recherche-activite, #titre-moderation-activites-avis, #type-activite-moderation, #provenance-photo-moderation {
	font-size: 1.5em;
	border-bottom: 3px solid grey;
	padding-top :5px;
	padding-bottom :5px;
}

#activites-avis-utilisateur a, #visu-form-contact-utilisateur a, #titre-type-activite a, #titre-moderation-activites-avis a {
	text-decoration: none;
	color: #181818;
}

#activites-avis-utilisateur a, #visu-form-contact-utilisateur a, #titre-type-activite a, #titre-moderation-activites-avis a : hover {
	color: #181818;
}

#appreciation-utilisateur, #commentaire-utilisateur, #div-activites-ville {
	font-size : 1.1em;
}

.attr-form-contact{
	font-style :italic;
	font-weight:bold;
}

/********************************Media query pour pages profil utilisateur****************/
@media all and (min-width: 653px) and (max-width: 768px){
	#nav-profil-utilisateur a{
		font-size: 1.2em;
	}
	#nav-profil-utilisateur a:hover{
		 border-bottom: 3px solid #181818;
	}
	#mes-coordonnees, #mon-mot-de-passe, #mes-parametres, #mes-activites-avis {
	border-bottom: 3px solid #181818;	
	}
	#pseudo-utilisateur {
		font-size: 1em;
	}
}

@media all and (min-width: 583px) and (max-width: 653px){
	#nav-profil-utilisateur a{
		font-size: 1em;
	}
	#nav-profil-utilisateur a:hover{
		 border-bottom: 2px solid #181818;
	}
	#mes-coordonnees, #mon-mot-de-passe, #mes-parametres, #mes-activites-avis {
	border-bottom: 2px solid #181818;	
	}
	#pseudo-utilisateur {
		font-size: 0.9em;
	}
}

@media all and (max-width: 583px){
	#nav-profil-utilisateur a{
		font-size: 0.8em;
	}
	#nav-profil-utilisateur a:hover{
		 border-bottom: 1px solid #181818;
	}
	#mes-coordonnees, #mon-mot-de-passe, #mes-parametres, #mes-activites-avis {
	border-bottom: 1px solid #181818;	
	}
	#pseudo-utilisateur {
		display:none;
	}
	.panel-title {
		font-size : 1em;
	}
}
/*****************************************************************************************/

#activites-ville, #resultat-recherche-ville, #resultat-recherche-activite {
	padding-top:2px;
	padding-bottom:2px;
	padding-left:0px;
	border-bottom:1px solid grey;
	border-right:1px solid grey;
	margin-bottom: 10px;
	box-shadow: 0px 1px 1px #1c1a19;
}

#section-activites-ville, ##section-activite {
	padding-bottom:10px;
}

/********************************Media query pour la page permettant d'afficher l'ensemble des activités d'une ville ****************/
@media all and (max-width: 500px){
	#div-activites-ville{
		font-size : 0.9em;
	}
}
/************************************************************************************************************************************/

#photo-principale-activite, #photo-annexe-activite {
	padding :1px;
}

 /* La carte OpenStreetMap DOIT avoir une hauteur sinon elle n'apparaît pas */
#map-localisation-activite {
	height:300px;
}

#row-avis-activite {
	border-bottom:1px solid grey;
	margin-left:0px;
	margin-right:0px;
	padding-top :5px;
}

#appreciation-moyenne-activite {
	padding-left :10px;
}

.img-avis-activite-util{
	border-radius:60px;
}

/********************************Media query pour la page permettant d'afficher le détail d'une activité ****************/
@media all and (min-width: 992px){
	#para-description-activite {
		overflow:auto;
		height:240px;
	}
}

@media all and (max-width: 992px){
	#description-localisation-activite {
	padding-top : 10px;
	}
}

@media all and (max-width: 768px){
	#appreciation-activite-utilisateur {
		text-align:center;
	}
}
/*************************************************************************************************************************/

#div-message-erreur{
	color: #D34A5C;
	background-color: #FFE0F9;
	padding-top :15px;
	padding-bottom : 15px;
	padding-left :15px;
	padding-right :15px;
	border-radius : 5px;
}

#bloc-validation-refus-avis {
	border-top : 1px solid #746DFF;
	padding-top :14px;
}

#bloc-visu-detail-activite-moderation {
	margin-top : 5px;
	border-top : 1px solid #746DFF;
	padding-top :14px;
}

#bloc-validation-refus-activite {
	margin-top : 5px;
	margin-left:0px;
	margin-right:0px;
	border-top : 1px solid grey;
	padding-top :14px;
	padding-bottom:14px;
}


/********************************Media query pour les pages de modération d'activités et d'avis ***************************/
@media all and (max-width: 650px){
	#code-postal-moderation-activite, #ville-moderation-activite {
		display : none;
	}
}

@media all and (max-width: 500px){
	#adresse-moderation-activite{
		display : none;
	}
}
/*************************************************************************************************************************/



footer{
	margin-bottom:5px;
	height : 60px;
	padding-top :20px;
}
